/* COMMON */
* {
  box-sizing: border-box;
}

/* x축으로 넘치는 요소가 있을 때 스크롤이 생기지 않도록 방지 */
/* 모바일 브라우저에서는 body보다 html을 기준으로 스크롤을 판단 */
html, body {
  overflow-x: hidden;
}

html {
  /* 스크롤 이동을 부드럽게 */
  scroll-behavior: smooth;
}

body {
  /* 글자 관련 기본(공통) 스타일 추가 */
  /* font-family: 1순위, 2순위 ... , sans-serif(고딕 계열) */
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333; /* ex) #ffee33 = #fe3 */
  /* 고정된 헤더 테스트용 */
  /* height: 3000px; */
} 

/* 영문에만 적용할 폰트 */
/* .font-en {
  font-family: "Open Sans", sans-serif;
} */

a {
  text-decoration: none;
  color: inherit; /* 부모 요소의 글자색을 물려받음(상속) */
}

.inner {
  max-width: 1200px;
  /* 가로 너비를 가진 블록 요소의 가운데 정렬 */
  margin: 0 auto;
}

.title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
.title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #333;
  /* 가로 길이를 갖는 block 요소는 margin: auto로 가운데 정렬 효과를 줄 수 있다 */
  margin: 24px auto 0;
}

img {
  /* 이미지가 inline 요소라서 발생하는 문자 기준선(Baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}

.btn {
  display: block;
  width: 120px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer; /* a태그라서 필요X */
  transition: 0.3s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn-purple {
  color: #9b30ff;
  border-color: #9b30ff;
}
.btn.btn-purple:hover {
  color: #fff;
  background-color: #9b30ff;
}
.btn.btn-brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn-brown:hover {
  color: #fff;
  background-color: #592b18;
}

.animate-flash {
  animation: flash;
  animation-duration: 0.5s;
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 3s; */
  /* animation-iteration-count: infinite; */
}

/* HEADER */
header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204, 204, 204, 0.8);
  /* 고정된 헤더 만들기 */
  position: fixed; /* ViewPort (사용자 창) 기준 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header > .inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* row 일때만, 만약 column 이라면 반대가 된다 */
  /* justify-conent : 주축정렬 (수평) */
  /* align-items : 교차축 정렬 (수직) */
}
header .logo img {
  width: 40px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 20px;
  font-weight: bold; /* =700 */
}
header nav ul li a {
  position: relative; /* 자기 기준, 다른요소에 영향X */
}
header nav ul li a:hover {
  color: #9b30ff;
}
header nav ul li a::after { 
  /* ::after - 가상 요소의 장점은 HTML 구조 추가와 class 속성값의 추가 없이 구현 및 제어 가능 */
  content: ""; /* 가상 요소 사용시 필수 속성 */
  /* 밑줄 */
  display: block; /* 가상 요소는 inline 이라서 가로,세로 속성 적용X */
  width: 0%; /* 초기에는 밑줄이 안보이도록 0으로 설정 */
  height: 2px;
  background-color: #9b30ff;
  transition: 0.5s; /* 밑줄이 생기고 사라지는 효과 설정 */
  position: absolute;
  left: 0;
  bottom: -4px;
}
header nav ul li a:hover::after {
  /* 밑줄 길이 */
  width: 94%;
  /* animation-name: underline1;
  animation-duration: 0.5s; */
}
/* @keyframes underline1 {
  from {width: 0%;}
  to {width: 100%;}
} */
header .btn-hamburger {
  display: none;
}
header .btn-hamburger .material-symbols-outlined {
  font-size: 40px;
  /* 수직 정렬 맞추기 */
  display: block;
  /* line-height: 60px; */
}

/* VISUAL */
.visual {
  /* 
    헤더가 fixed 되어 일반 배치 흐름에서 벗어남 (주변 요소들과 상호작용하지 않음)
    헤더 다음에 오는 요소는 헤더의 높이 만큼 외부 여백 추가
  */
  margin-top: 60px;
  width: 100%;
  background-color: #000;
  color: #fff;
}
.visual > .inner {
  /* calc() : CSS에서 연산을 할때 사용하는 함수*/
  height: calc(100vh - 60px); /* 첫 번째 섹션이 뷰포트에 가득 차도록 */
  font-size: 70px;
  display: flex;
  align-items: center;
}
.visual > .inner .purple {
  color: #9b30ff;
}

/* ABOUT */
/* 보통 section들 자체는 padding으로 여백 */
/* 보통 section안에 요소들은 margin으로 여백 */
/* 선택자 중요도 점수 - Specificity: (id개수,class개수,tag개수) */
/* 총 점수 =  id개수x100 + class개수x10 + tag개수x1 */
.about {
  padding: 150px 0;
}
.about > .inner { 
  /* 자식 요소의 기준 */
  position: relative;
}
.about .about-wrap {
  display: flex;
  justify-content: space-between;
}
.about .about-wrap .about-img {
  width: 40%;
}
.about .about-wrap .about-img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1); 
}
.about .about-wrap .about-text {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about .about-wrap .about-text .slogan {
  font-size: 35px;
  font-weight: bold;
}
.about .about-wrap .about-text h3 {
  font-size: 20px;
  font-weight: 600;
}
.about .about-wrap .about-text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about .about-wrap .about-text li {
  line-height: 1.8;
}
.about .about-btn {
  position: absolute;
  bottom: -30px;
  right: 30px;
}
/* .about .about-btn a {
  display: flex;
  align-items: center;
} */
.about .about-btn img {
  display: inline;
  /* 이미지와 글자의 정렬을 맞출때 사용 */
  vertical-align: middle;
  width: 28px;
  margin-right: 10px;
}

/* SKILL */
.skill {
  padding: 150px 0;
  background-color: #000;
  color: #fff;
}
.skill .title::after {
  background-color: #fff;
}
.skill .skill-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 30px;
  text-align: center;
}
.skill .skill-list > li  {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 애니메이션 효과 추가 */
  /* 방법1: position */
  /* position: relative; 기준 : 자기 자신 */
  /* top: 100px; */
  /* 방법2: transform */
  transform: translateY(100px);
  opacity: 0.1;
}
/* hover로 먼저 테스트 후 스크롤 이벤트 넣기 */
/* .skill .skill-list > li:hover { */
.skill.show .skill-list > li {
  /* 방법1: position */
  /* top: 0px; */
  /* 방법2: transform */
  transform: translateY(0);
  transition: 0.4s;
  opacity: 1;
}
.skill.show .skill-list > li:nth-child(1) {transition-delay: 0.2s;}
.skill.show .skill-list > li:nth-child(2) {transition-delay: 0.4s;}
.skill.show .skill-list > li:nth-child(3) {transition-delay: 0.6s;}
.skill.show .skill-list > li:nth-child(4) {transition-delay: 0.8s;}
.skill.show .skill-list > li:nth-child(5) {transition-delay: 1s;}
.skill.show .skill-list  li h3{
  width: 50px;
  height: 40px;
  background-color: #9b30ff;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  /* 자간 */
  letter-spacing: -2px;
  transform: rotate(-20deg);
  transition: 0.3s;
}
.skill .skill-list li:hover h3 {
  transform: rotate(0deg);
}
.skill .skill-list li h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 20px;
}

/* PROJECT */
.project {
  padding: 150px 0;
}
.project .port {
  display: flex;
  margin: 20px 0;
}
.project .port .port-img,
.project .port .port-text {
  width: 50%;
  height: 400px;
}
.project .port .port-img .swiper {
  width: 100%;
  height: 100%;
}
.project .port .port-img .swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 원본 이미지 비율에 맞게 (여백 O) */
  /* object-fit: cover; 영역에 꽉 차게 (짤림) */
}
.project .port .port-text {
  padding: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project .port .port-text h3 {
  font-size: 20px;
  font-weight: 800;
}
.project .port .port-text li {
  line-height: 1.8;
}
.project .port .port-text li span {
  font-weight: bold;
}
.project .port .btn-group {
  display: flex;
  column-gap: 40px;
}

/* CONTACT */
.contact {
  padding: 200px 0;
}
.contact .contact-info li {
  line-height: 2; /* 현재 높이의 2배 */
  text-align: center;
  transition: 1s;
  opacity: 0.1;
}
/* 애니메이션 효과 추가 */
.contact .contact-info li:nth-child(1),
.contact .contact-info li:nth-child(3) {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}
.contact .contact-info li:nth-child(2) {
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
}
.contact.show .contact-info li {
  transform: translateX(0);
  opacity: 1;
}
.contact .contact-sns {
  margin-top: 20px;
}
.contact .contact-sns ul {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.contact .contact-sns ul li {
  transform: translateY(100px);
  transition: 1s;
  opacity: 0.1;
}
.contact.show .contact-sns ul li {
  transform: translateY(0);
  opacity: 1;
}
.contact.show .contact-sns ul li:nth-child(1) {transition-delay: 0.2s;}
.contact.show .contact-sns ul li:nth-child(2) {transition-delay: 0.4s;}
.contact .contact-sns ul li img {
  width: 30px;
}

/* FOOTER */
footer {
  background-color: #000;
  color: #fff;
}
footer .copyright {
  text-align: center;
  font-weight: 600;
  line-height: 100px; /* 수직 정렬 */
}

/* MODAL */
#imgModal {
  /* 화면(뷰포트) 전체 영역 덮기 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none; /* 초기에는 숨김 상태 */
}
#imgModal .modal-content {
  background-color: #fff;
  border-radius: 8px;
}
#imgModal .modal-header {
  padding: 16px;
  background-color: #222;
  color: #fff;
  border-radius: 8px 8px  0 0;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#imgModal .modal-header .close-btn {
  font-size: 30px;
  cursor: pointer;
}
#imgModal .modal-header .close-btn:hover {
  color: #c8c8c8;
}
#imgModal .modal-body {
  padding: 16px;
}

/* SCROLL TO TOP */
#toTop {
  width: 42px;
  height: 42px;
  background-color: #fff8e8;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9;
  /* 첫 상태는 투명,  */
  opacity: 0;
  transform: translateX(100px);
  transition: 0.5s;
}
#toTop.show {
  opacity: 1;
  transform: translateX(0);
}
#toTop .material-symbols-outlined {
  /* 수직 정렬 맞추기 */
  /* display: block; */
  line-height: 42px;
}

/* 반응형 스타일 */
/* (참고1) 일반적인 중단점(분기점, Break Point)
  1. 5개 기준(매우 복잡)
  ~ 479px : 모바일 세로
  480px ~ 767px : 모바일 가로, 태블릿 세로
  768px ~ 1023px : 태블릿 가로
  1024px ~ 1279px : 노트북
  1280px ~ : 데스크톱

  2. 4개 기준(복잡)
  ~ 479px : 모바일 세로
  480px ~ 767px : 모바일 가로, 태블릿 세로
  768px ~ 1023px : 태블릿 가로
  1024px ~ : 데스크톱

  3. 3개 기준(일반적, Good)
  ~ 767px : 모바일 (1열 정렬)
  768px ~ 1023px : 태블릿 (2열 정렬)
  1024px ~ : 데스크톱 (3열 이상)

  4. 2개 기준(일반적, Normal)
  ~ 767px : 모바일
  768px ~ : 태블릿, 데스크톱
*/
/* (참고2) 부트스트랩에서 사용하는 중단점
  1200px / 992px / 768px / 576px

  1200px / 992px 중 어디부터 태블릿 사이즈로 볼지
  768px / 576px 중 어디부터 모바일 사이즈로 볼지는 선택 사항
*/
/* 장치가 화면이고 최대 너비가 767일때 (=> 767px 이하에서)*/
@media screen and (max-width: 767px) {
  /* 모바일에서는 화면의80%만 차지하도록 */
  .inner {
    width: 80%;
  }
  .title {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .title::after {
    width: 60px;
  }
  header .btn-hamburger {
    display: block;
  }
  header nav {
    background-color: #fff8e8;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: scroll;
    transition: 0.3s;
  }
  header nav.active {
    height: 100%;
  }
  header nav ul {
    flex-direction: column;
    padding-top: 60px;
  }
  header nav ul li {
    padding: 10px 80px;
    font-size: 30px;
  }
  header nav ul li a {
    transition: 0.6s;
  }
  header nav ul li a:hover {
    letter-spacing: 7px;
  }

  .visual > .inner {
    font-size: 30px;
  }
  .visual > .inner .mobile-lf {
    display: inline !important;
  }

  .about {
    padding: 100px 0;
  }
  .about .about-wrap {
    flex-direction: column;
  }

  .about .about-wrap .about-img {
    width: 80%;
    margin: 0 auto;
  }
  .about .about-wrap .about-text {
    width: 100%;
    text-align: center;
  }
  
  .skill {
    padding: 100px 0;
  }

    .project {
    padding: 100px 0;
  }
  .project .port {
    flex-direction: column;
    margin: 40px 0;
  }
  .project .port .port-img, 
  .project .port .port-text {
    width: 100%;
  }
  .project .port .port-text {
    padding: 20px 0 0;
  }
  .project .port .btn-group {
    margin-top: 20px;
  }

    .contact {
    padding: 100px 0;
  }
  
  #imgModal .modal-content {
    width: 80%;
  }
  #imgModal .modal-body img {
    width: 100%;
  }
}

/* 애니메이션 정의는 맨 마지막에 */
/* @ : CSS 정의 */
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}